<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710839771420-6l6da6sl05ead0shlsdgkv68k2guived.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710839771420-6l6da6sl05ead0shlsdgkv68k2guived</string>
	<key>API_KEY</key>
	<string>AIzaSyAZoB77_Fr_A9hbxu-erP2nHXOWg6j8p3U</string>
	<key>GCM_SENDER_ID</key>
	<string>710839771420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>standi.finalProject</string>
	<key>PROJECT_ID</key>
	<string>underscore-9c7cb</string>
	<key>STORAGE_BUCKET</key>
	<string>underscore-9c7cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710839771420:ios:b4460c955ec735bfce1ad9</string>
</dict>
</plist>